In [168]:
import numpy as np 
import pandas as pd
import math
import matplotlib.pyplot as plt 
import scipy.optimize
from scipy.stats import poisson, chi2
from scipy.stats import moment

import matplotlib.pyplot as plt
from visualisations import show_task

plt.rcParams['figure.figsize'] = (10.0, 8.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

In [ ]:
theta = 0.61
n = 200
m_i = np.array([109, 65, 22, 3, 1, 0])
p_i = np.zeros(6)
np_i = np.zeros(6)

for i in range(0, 5):
    prob = poisson.pmf(i, theta)
    p_i[i] = prob
    _np = prob*n
    np_i[i] = _np
prob = 1 - np.sum(p_i[0:4])
p_i[5] = prob
_np = prob*n
np_i[5] = _np

df = pd.DataFrame(
    columns=["[0, 1)", "[1, 2)", "[2, 3)", "[3, 4)", "[4, 5)", "[5, +inf)"],
    index=pd.Index(["m_i", "p_i", "np_i"]))
df.loc["m_i", :] = m_i
df.loc["p_i", :] = p_i
df.loc["np_i", :] = np_i
df

          [0, 1)     [1, 2)     [2, 3)    [3, 4)    [4, 5) [5, +inf)
m_i          109         65         22         3         1         0
p_i     0.543351   0.331444    0.10109  0.020555  0.003135   0.00356
np_i  108.670174  66.288806  20.218086  4.111011  0.626929  0.711924

In [170]:
const = 1
def lnL(thetta: float) -> float:
    return 109*math.log(thetta) - 196*thetta + \
    4*math.log(1 - math.exp(-thetta) - thetta*math.exp(-thetta) - ((thetta**2)/2)*math.exp(-thetta)) + const
def lnL1(thetta: float) -> float:
    return 122*math.log(thetta) - 200*thetta + const
def lnL2(thetta: float) -> float:
    return 113*math.log(1 - thetta*math.exp(-thetta) - ((thetta**2)/2)*math.exp(-thetta)) + \
    109*math.log(thetta) - 87*thetta
def lnL3(thetta: float) -> float:
    return 65*math.log(thetta) - 174*thetta + 26*math.log(1 - math.exp(-thetta) - thetta*math.exp(-thetta))
thetta_3 = scipy.optimize.minimize_scalar(lambda x: (-1)*lnL3(x), bounds=(0, 100), method="bounded").x
print(f"thetta_3 = {thetta_3}")

thetta_3 = 0.6144599577791148

In [171]:
theta = 0.614
n = 200
m_i = np.array([109, 65, 26])
p_i = np.zeros(3)
np_i = np.zeros(3)
delta = 0 

for i in range(0, 2):
    prob = poisson.pmf(i, theta)
    p_i[i] = prob
    _np = prob*n
    np_i[i] = _np
    delta += ((m_i[i] - _np)**2)/_np

prob = 1 - np.sum(p_i[0:2])
p_i[2] = prob
_np = prob*n
np_i[2] = _np
delta += ((m_i[2] - _np)**2)/_np

df = pd.DataFrame(
    columns=["[0, 1)", "[1, 2)", "[2, +inf)"],
    index=pd.Index(["m_i", "p_i", "np_i"]))
df.loc["m_i", :] = m_i
df.loc["p_i", :] = p_i
df.loc["np_i", :] = np_i
print(f"delta = {delta}")
df

delta = 0.056340325026625865

          [0, 1)     [1, 2)  [2, +inf)
m_i          109         65         26
p_i     0.541182   0.332286   0.126533
np_i  108.236361  66.457126  25.306513

In [175]:
np.sum(df.loc["m_i", :])

200

In [ ]:
sf = chi2.sf(delta, 1)
print(sf)

0.8123766108594808