In [21]:
import numpy as np 
import pandas as pd
import math
import matplotlib.pyplot as plt 
import scipy.optimize
from scipy.stats import poisson, chi2
from scipy.stats import moment

import matplotlib.pyplot as plt
from visualisations import show_task

plt.rcParams['figure.figsize'] = (10.0, 8.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

In [ ]:
n = 200
columns = ["Партия 1", "Партия 2"]
index = ["Заниженный размер", "Точный размер", "Завышенный размер"]
data_df = pd.DataFrame(columns=columns, index = pd.Index(index))
data_df.loc["Заниженный размер", :] = np.array([25, 52])
data_df.loc["Точный размер", :] = np.array([50, 41])
data_df.loc["Завышенный размер", :] = np.array([25, 7])
data_df

                  Партия 1 Партия 2
Заниженный размер       25       52
Точный размер           50       41
Завышенный размер       25        7

In [23]:
p_df = pd.DataFrame(columns=[1, 2, 3], index=pd.Index(["p_i"]))
p_df.loc["p_i", :] = np.array([np.sum(data_df.loc[data_df.index[i], :])/n for i in (0, 1, 2)])
p_df

         1      2     3
p_i  0.385  0.455  0.16

In [ ]:
q_df = pd.DataFrame(columns=[1, 2], index=pd.Index(["q_j"]))
q_df.loc["q_j", :] = np.array([np.sum(data_df.loc[pd.Index(index), columns[i]])/n for i in (0, 1)])
q_df

       1    2
q_j  0.5  0.5

In [25]:
delta = 0
for i in (1, 2, 3):
    for j in (1, 2):
        delta += (data_df.loc[index[i-1], columns[j-1]])/(n*p_df.loc["p_i", i]*q_df.loc["q_j", j])
delta

6.0

In [26]:
sf = chi2.sf(delta, (2-1)*(3-1))
print(sf)

0.04978706836786395